---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

The release notes tell you about changes in different versions of <%= vars.product_full %>.

## <a id="1-4-1"></a> v1.4.1

**Release Date:** January 27, 2023

### Resolved issues

This release has the following fixes:

- **JDBC URL for Postgres:** has been fixed to use the standard Java location for TLS certificate
  authorities (CAs). This fix is applicable both to RDS Postgres and Amazon Aurora PostgreSQL-Compatible edition
  services.
- **JDBC URL for MySQL:** has been fixed to include SSL parameters compatible with the Java buildpack. This fix is
  applicable both to RDS MySQL and Amazon Aurora MySQL-Compatible edition services.

### Known Issues

This release has the following issues:

- **Aurora service instance engine upgrade version can fail:**

  The engine upgrade version operation throws an error due to an inconsistency between the values of the
  involved instances because the operation is marked for the next maintenance period instead of performing it
  after the execution of the command.

  For example, an upgrade operation for the aurora-postgresql version going from version `13.10` to version `14.7`
  fails when you run the command `csb update-service SERVICE-INSTANCE-NAME -c '{"engine_version": "14.7"}'`.
  Minor version updates are done automatically if you set the `auto_minor_version_upgrade` parameter to `true`.
  For more information about `auto_minor_version_upgrade`, see
  [Configuration Parameters](reference/aws-aurora-postgresql.html.md.erb#parameters).

- **Aurora PostgreSQL service instance upgrade for a major version can fail:**

  The engine upgrade operation for a major version of aurora-postgreSQL using the default database
  cluster parameter group throws an error due to the collision of names in the database cluster
  parameter groups involved in the operation.

- **Random failure when creating S3 buckets:**

  Since April 2023, a change in AWS deactivates ACLs by setting the object ownership to
  `bucket owner enforced`.
  If using ACLs and therefore setting object ownership to a different value
  (`bucket owner preferred` or `object writer`), random errors when provisioning can occur.
  This is due to an unspecified order of execution of the operations that edit the object ownership
  and the ACL type, causing the broker to sometimes attempt the ACL configuration with an incompatible
  value of object ownership.

## <a id="1-4-0"></a> v1.4.0

**Release Date:** December 19, 2022

### Features

New features and changes in this release:

#### Amazon Aurora MySQL-Compatible Edition and Amazon Aurora PostgreSQL-Compatible Edition

This release has the following changes for the Amazon Aurora MySQL-Compatible Edition and
Amazon Aurora PostgreSQL-Compatible Edition services:

- **Amazon Aurora MySQL-Compatible Edition and Amazon Aurora PostgreSQL-Compatible Edition are generally available:**

  The Amazon Aurora MySQL and Amazon Aurora PostgreSQL services are no longer in beta and can be used
  in production.

- **You can choose a preferred maintenance window:**

  There are new exposed properties to set the preferred maintenance window. For more information, see
  the `preferred_maintenance_*` properties in the [reference topics](reference/index.html.md.erb).
  To use the AWS default preferred maintenance window when provisioning, set all the properties
  related to the preferred maintenance window to null.

- **Database encryption:**

  By default, all new Aurora clusters are encrypted with an AWS-managed encryption key.
  Alternatively, it's possible to provide a custom KMS encryption key ARN, or deactivate encryption
  altogether.

- **`instance_class` property exposed:**

  The `instance_class` property is now configurable at plan creation or instance operations for
  Amazon Aurora MySQL-Compatible Edition and Amazon Aurora PostgreSQL-Compatible Edition.
  The database instance class determines the computation and memory capacity of an Amazon Aurora
  database instance.
  For more information about `instance_class`, see the [reference topics](reference/index.html.md.erb).

### Known Issues

This release has the following issues:

- **Aurora service instance engine upgrade version can fail:**

  The engine upgrade version operation throws an error due to an inconsistency between the values of the
  involved instances because the operation is marked for the next maintenance period instead of performing it
  after the execution of the command.

  For example, an upgrade operation for the aurora-postgresql version going from version `13.10` to version `14.7`
  fails when you run the command `csb update-service SERVICE-INSTANCE-NAME -c '{"engine_version": "14.7"}'`.
  Minor version updates are done automatically if you set the `auto_minor_version_upgrade` parameter to `true`.
  For more information about `auto_minor_version_upgrade`, see
  [Configuration Parameters](reference/aws-aurora-postgresql.html.md.erb#parameters).

- **Aurora PostgreSQL service instance upgrade for a major version can fail:**

  The engine upgrade operation for a major version of aurora-postgreSQL using the default database
  cluster parameter group throws an error due to the collision of names in the database cluster
  parameter groups involved in the operation.

- **Random failure when creating S3 buckets:**

  Since April 2023, a change in AWS deactivates ACLs by setting the object ownership to
  `bucket owner enforced`.
  If using ACLs and therefore setting object ownership to a different value
  (`bucket owner preferred` or `object writer`), random errors when provisioning can occur.
  This is due to an unspecified order of execution of the operations that edit the object ownership
  and the ACL type, causing the broker to sometimes attempt the ACL configuration with an incompatible
  value of object ownership.

- **Tile installation can fail during `apply changes` with `cannot allocate memory` error:**

  The tile deploys the broker as an app during `apply changes`.
  The application manifest does not specify required memory and disk space, and therefore uses the
  default values specified in the TAS configuration.
  Depending on that configuration, the app might fail to start up because of insufficient
  memory or disk space errors.

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from drop-down menu at the
top of this page.
