---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="1-5-0"></a> v1.5.0

**Release Date:** MMMM DD, YYYY

### Breaking Changes

This release has the following breaking changes:


### Features

New features and changes in this release:

- **Increased memory and disk space quota:** This version increases both broker memory and disk quota from 1G to 2G
to allow for a larger number of operations to happen simultaneously.

### Resolved Issues

This release has the following fixes:

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from drop-down menu at the
top of this page.
