---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="1-6-0"></a> v1.6.0

**Release Date:** DD MMM YYYY

### Breaking Changes

This release has the following breaking changes:

- **Run-in header:** Description.
- **Run-in header:** Description.

### Features

New features and changes in this release:

- **The Amazon RDS for MSSQL (Beta) service:**
  For more information about how to create and manage this service, see
  [Amazon RDS for MSSQL (Beta)](reference/aws-mssql.html.md.erb).

### Resolved Issues

This release has the following fixes:

## General

<%= partial vars.path_to_partials + '/csb/timeout-resolved' %>

- **Fixes incorrect links pointing to the documentation on Apps Manager:**
  On Apps Manager, there is a link pointing to the documentation on each service.
  The links pointed to old versions of the docs. From now on, the links point to a generic landing page
  where you can find links to every product version and, from there, navigate to the desired service.

### Known Issues

This release has the following issues:

#### Amazon ElastiCache for Redis

- **Inconsistent design in the format accepted in the `redis_version` property:**

  If the version is 6 or later you can set the major and minor version, such as `6.2`.
  Alternatively, you can leave the minor version unspecified in order to use the latest
  version at creation time. For example, `6.x`.
  For `7.x` versions, however, you must specify the minor version. For example, `7.0`.

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from drop-down menu at the
top of this page.
