---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

##<a id="1-2-0"></a> v1.2.0

**Release Date:** MONTH DAY, 2022

### Breaking Changes

This release has the following breaking change:

**GA Amazon S3 Bucket service offering**: S3 Bucket is no longer beta and can be used in production.
Since this version, plans are no longer povided with the brokerpak.
If you have S3 Bucket instances already created that you wish to maintain,
previously provided plans will need to be added through the tile.
Refer to [Adding previously provided canned plans](reference/aws-s3.html#old-plans) for more information.

### Features

New features and changes in this release:

* **Run-in header:** Description.
* **Run-in header:** Description.

### Resolved Issues

This release has the following fixes:

* **Run-in header:** Description.
* **Run-in header:** Description.

### Known Issues

This release has the following issue:

* **S3 Bucket service instance update:** * Attempting to disable versioning for an instance
created before upgrading to this version will be recorded as a `update succeeded` operation at the first attempt.
However this value is not updated in the broker or in AWS as disabling versioning is not supported in the IaaS.
Subsequent attempts will result in the appropriate error stating that versioning can't be disabled as expected.


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
