---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

##<a id="1-2-0"></a> v1.2.0

**Release Date:** MONTH DAY, 2022

### Breaking Changes

This release has the following breaking change:

**Amazon S3 bucket service offering is generally available**: The Amazon S3 bucket offering is no
longer in beta and can be used in production.
From this version onwards, plans are no longer provided with the brokerpak.
If you have S3 bucket instances that you want to maintain, previously provided plans must be added
through the tile.
For more information, see [Add previously provided pre-configured plans](reference/aws-s3.html.md.erb#old-plans).

### Features

New features and changes in this release:

* **Run-in header:** Description.
* **Run-in header:** Description.

### Resolved Issues

This release has the following fixes:

* **Run-in header:** Description.
* **Run-in header:** Description.

### Known Issues

This release has the following issue:

* **S3 bucket service instance update:** If you attempt to disable versioning for an instance
created before upgrading to this version, it is recorded as an `update succeeded` operation at the
first attempt.
However this value is not updated in the broker or in AWS because disabling versioning is not
supported in the IaaS.
Subsequent attempts cause an error message that states that versioning can't be disabled
as expected.

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from drop-down menu at the
top of this page.
