---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="1-5-0"></a> v1.5.0

**Release Date:** MMMM DD, YYYY

### Breaking Changes

This release has the following breaking changes:

#### Amazon ElastiCache for Redis

- **Removed Amazon ElastiCache for Redis pre-configured plans:**
  From this version onwards, plans are no longer provided with the brokerpak.
  If you have ElastiCache for Redis service instances that you want to maintain that use the formerly built-in plans,
  you must add the plans through the tile configuration.
  For more information, see
  [Previously Provided Pre-configured Plans](reference/aws-redis.html#old-plans) in _Amazon ElastiCache for Redis Reference_.

- **Changes are now applied immediately:**
  From this version onwards, changes done with `cf update-service` are applied immediately
  instead of being queued to be applied during the maintenance window.
  This can result in a brief downtime as the server reboots.

### Features

New features and changes in this release:

- **Increased memory and disk space quota:** This version increases both the broker memory and disk
  quota from 1&nbsp;GB to 2&nbsp;GB to enable a larger number of operations to happen simultaneously.

### Resolved Issues

This release has the following fixes:

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from drop-down menu at the
top of this page.
