---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="1-3-0"></a> v1.3.0

**Release Date:** MMM DD, YYYY

### Breaking Changes

This release has the following breaking changes:

- **Run-in heading:** Description

### Features

New features and changes in this release:

- **Run-in heading:** Description

### Resolved Issues

This release has the following fixes:

- **Run-in heading:** Description

### Known Issues

This release has the following issue:

- **Run-in heading:** Description

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from drop-down menu at the
top of this page.
