---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

The release notes describe changes in different versions of <%= vars.product_full %>.

## <a id="1-6-0"></a> v1.6.0

**Release Date:** DD MMM YYYY

### Breaking Changes

This release has the following breaking changes:

- **Run-in header:** Description.
- **Run-in header:** Description.

### Features

New features and changes in this release:

#### Amazon RDS for PostgreSQL

- **Turn on query logging for your RDS for PostgreSQL DB instance:**

  You can now turn on query logging by setting `parameter_group_name` with a pre-created Parameter Group
  that fulfills requirements for PostgreSQL log exports and the property `enable_export_postgresql_logs`.
  By default, query logging is deactivated.
  When activated, the default number of log retention days is 30 and the log group will be deleted
  by disabling the log or deleting the instance.
  For how to configure, see [Configuration Parameters](reference/aws-postgres.html.md.erb#parameters).

- **Turn on upgrade logging for your RDS for PostgreSQL DB instance:**

  You can now turn on upgrade logging by setting the property `enable_export_upgrade_logs`.
  The upgrade log group only receives logs after a major upgrade happens (in other words, when the
  `pgupgrade` module is invoked).
  By default, upgrade logging is deactivated.
  When activated, the default number of log retention days is 30 and the log group will be deleted
  by disabling the log or deleting the instance.
  For how to configure, see [Configuration Parameters](reference/aws-postgres.html.md.erb#parameters).

- **Encrypting CloudWatch Logs:**

  A new property, `cloudwatch_log_groups_kms_key_id`, is exposed, and enables you to configure your
  AWS KMS customer-managed key to encrypt the logs generated when activating PostgreSQL or upgrade
  logs. For more information, see [Configuration Parameters](reference/aws-postgres.html.md.erb#parameters).

#### Amazon RDS for MSSQL

- **The Amazon RDS for MSSQL (Beta) service:**

  An experimental foundation was added for development and test purposes only.
  For more information about how to create and manage this service, see
  [Amazon RDS for MSSQL (Beta)](reference/aws-mssql.html.md.erb).

- **Basic properties exposed:**

  Properties such as engine, MSSQL version, storage capacity, database name, instance name, VPC ID,
  VPC security group IDs, and instance class are now configurable at plan creation or instance
  operations. Moreover, you can define your own RDS subnet group when creating a plan or instance.

  For more information about how to create and manage this service, see
  [Amazon RDS for MSSQL (Beta)](reference/aws-mssql.html.md.erb).

#### Amazon S3 Bucket

- **The property `require_tls` is exposed:**

  This property allows you to configure whether the bucket explicitly denies access to HTTP requests.
  If enabled, the bucket only accepts requests sent through HTTPS.

  For more information about how to create and manage this service, see
  [Amazon S3 Bucket](reference/aws-s3.html.md.erb).

### Resolved Issues

This release has the following fixes:

## General

<%= partial vars.path_to_partials + '/csb/timeout-resolved' %>

- **Fixes incorrect documentation links in Apps Manager:**

  In Apps Manager, there is a link pointing to the documentation for each service. The links pointed
  to old versions of the documentation. From now on, the links point to a generic landing page where
  you can find links to every product version and, from there, navigate to the service you want.

### Known Issues

This release has the following issues:

#### Amazon ElastiCache for Redis

- **Inconsistent design in the format accepted in the `redis_version` property:**

  If the version is 6 or later you can set the major and minor version, such as `6.2`.
  Alternatively, you can leave the minor version unspecified in order to use the latest
  version at creation time. For example, `6.x`.
  For `7.x` versions, however, you must specify the minor version. For example, `7.0`.

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from drop-down menu at the
top of this page.
