---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="1-5-0"></a> v1.5.0

**Release Date:** MMMM DD, YYYY

### Breaking Changes

This release has the following breaking changes:

#### Amazon ElastiCache for Redis

- **Removed Amazon ElastiCache for Redis pre-configured plans:**
  From this version onwards, plans are no longer provided with the brokerpak.
  If you have ElastiCache for Redis service instances that you want to maintain that use the formerly built-in plans,
  you must add the plans through the tile configuration.
  For more information, see
  [Previously Provided Pre-configured Plans](reference/aws-redis.html.md.erb#old-plans) in _Amazon ElastiCache for Redis Reference_.

- **Changes are now applied immediately:**
  From this version onwards, changes made using the `cf update-service` command are applied immediately
  instead of being queued to be applied during the maintenance window.
  This might result in brief downtime while the server reboots.

- **Property `cache_size` is now deprecated:**
  Consider replacing it with its equivalent `node_type`. For more information, see
  [Equivalence of cache_size and node_type](reference/aws-redis.html.md.erb#cache-size-node-type).
  Specifying `node_type` in a plan prevents any existing or future service from specifying `node_type`
  as a service-specific configuration parameter.

  This has strong implications for existing plans because existing services might become unmanageable
  if they specified a custom `node_type` when they were created.
  When in doubt, keep using `cache_size` for existing plans and start using `node_type` for any new
  plans.

  For more information about node types and pricing, see the
  [AWS documentation](https://aws.amazon.com/elasticache/pricing/) and
  [Choosing your node size](https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/nodes-select-size.html).

#### Amazon DynamoDB

- **Renaned `csb-aws-dynamodb` service to `csb-aws-dynamodb-table`:**
  The existing beta `csb-aws-dynamodb` service has
  been renamed to `csb-aws-dynamodb-table` to differentiate it from the new service `csb-aws-dynamodb-namespace`. Any existing `csb-aws-dynamodb` service instances will continue to work.

  When a new binding is created, credentials are stored in CredHub under the path
  `/c/csb/csb-aws-dynamodb-table/`. Existing bindings  continue to have their credentials stored at the
  path `/c/csb/csb-aws-dynamodb/`. When existing bindings are deleted, <%= vars.product_short %> will not remove the
  credentials from CredHub. You can remove the credentials manually using the CredHub CLI, or you can leave the credentials in situ because they will no longer allow access to the service instance.

### Features

New features and changes in this release:

#### General

- **Increased memory and disk space quota:** This version increases both the broker memory and disk
  quota from 1&nbsp;GB to 2&nbsp;GB to enable a larger number of operations to happen simultaneously.

#### Amazon DynamoDB Namespace

- **New service:** This new service provides credentials for managing DynamoDB tables in the default
  region set for <%= vars.product_short %>.

#### Amazon ElastiCache for Redis

- **`redis_version` is a required user input parameter:**
  From this version onwards, the property `redis_version` is a required user input parameter without
  a default value.
  This property is no longer a plan parameter, adding more flexibility when creating plans.
  From now on, the `redis_version` is updatable if it has not been defined as a property in a custom
  plan.
  For more information, see
  [the Amazon ElastiCache for Redis Reference](reference/aws-redis.html.md.erb) and the
  [upgrade steps](upgrading.html.md.erb).

- **Encryption of data at rest is enabled by default:**
  New properties `at_rest_encryption_enabled` and `kms_key_id` can be used to control encryption at rest.

- **Added support for specifying a maintenance window:**
  You can now specify the weekly time range for when maintenance on the cache cluster is performed.
  The minimum maintenance window is 1 hour.
  For more information, see
  [Configuration Parameters](reference/aws-redis.html.md.erb#parameters).

- **Data tiering and node types from the `r6gd` family are available:**
  From this version onwards, you can use the node types from the `r6gd` family.
  Because this node type family needs data tiering, you must set the property `data_tiering_enabled`
  as `true`.
  This configuration must be applied only in the provisioning phase.
  For more information, see
  [Amazon ElastiCache for Redis](reference/aws-redis.html.md.erb).

- **Multi-AZ is enabled by default:**
  You can use the new property `multi_az_enabled` to control Multi-AZ.
  To enable Multi-AZ automatic failover must also be enabled.
  For more information, see
  [Configuration Parameters](reference/aws-redis.html.md.erb#parameters).

- **Automatic failover is now customizable:**
  Allows automatically replacing the existing primary with a replica in case of failures.
  For more information, see
  [Configuration Parameters](reference/aws-redis.html.md.erb#parameters).

- **New configuration properties available:**
  You can configure `backup_retention_limit`, `final_backup_identifier`, `backup_name`,
  `backup_start_hour`, `backup_start_min`, `backup_end_hour`, `backup_end_min`,
  and `parameter_group_name`.
  For more information, see
  [Configuration Parameters](reference/aws-redis.html.md.erb#parameters).

### Resolved Issues

This release has the following fixes:

### Known Issues

#### Amazon ElastiCache for Redis

- **Inconsistent design in the format accepted in the `redis_version` property:**

  If the version is 6 or later you can set the major and minor version, such as `6.2`.
  Alternatively, you can leave the minor version unspecified in order to use the latest
  version at creation time. For example, `6.x`.
  For `7.x` versions, however, you must specify the minor version. For example, `7.0`.

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from drop-down menu at the
top of this page.
