---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>.

## <a id="1-12-0"></a> v1.12.0

**Release Date:** Aug 06, 2024

### Breaking Changes

There are no breaking changes in this release.

### Features

- **Tofu upgraded to v1.8.0:**

  The Tofu version used to apply changes is upgraded from
  v1.7.2 to 1.8.0. You must upgrade all service instances.
  When you upgrade, ensure that you follow the [Upgrade procedure](upgrading.html#procedure).

### Resolved Issues

There are no resolved issues in this release.

### Known Issues

There are no known issues in this release.

## <a id="view"></a> View Release Notes for another Version

To view the release notes for another product version, select the version from drop-down menu at the
top of this page.
