---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="1-6-0"></a> v1.6.0

**Release Date:** DD MMM YYYY

### Breaking Changes

This release has the following breaking changes:

- **Run-in header:** Description.
- **Run-in header:** Description.

### Features

New features and changes in this release:

- **Run-in header:** Description.
- **Run-in header:** Description.

### Resolved Issues

This release has the following fixes:

- **Fixes a timeout when starting the app:**
  In some scenarios, the application takes longer than 60 seconds to start. Which, in turn, causes Cloud Foundry
  to mark the app as unhealthy. We have increased the timeout for this specific tile to 120 seconds.

### Known Issues

This release has the following issues:

#### Amazon ElastiCache for Redis

- **Inconsistent design in the format accepted in the `redis_version` property:**

  If the version is 6 or later you can set the major and minor version, such as `6.2`.
  Alternatively, you can leave the minor version unspecified in order to use the latest
  version at creation time. For example, `6.x`.
  For `7.x` versions, however, you must specify the minor version. For example, `7.0`.

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from drop-down menu at the
top of this page.
