---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

##<a id="1-1-0"></a> v1.1.0

**Release Date:** October 4, 2021

### Features

New features and changes in this release:

* **Enable versioning for each S3 bucket:** You can enable versioning for each bucket created by
setting `enable_versioning` in the plan properties for custom plans or in the service instance
create request.

* **Run-in header:** Description.

### Resolved Issues

This release has the following fixes:

* **Run-in header:** Description.

### Known Issues

This release has the following issue:

* **Run-in header:** Description.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
