---
title: Upgrading Cloud Service Broker for AWS
owner: Cloud Service Broker
---

This topic describes how to upgrade <%= vars.product_full %>.
The following sections have information about upgrading to v1.6.0.

## <a id="procedure"></a> Upgrade procedure

To upgrade the <%= vars.product_short %> to a later version:

1. Download the new version of <%= vars.product_short %> from
   [<%= vars.product_network %>](https://network.pivotal.io/products/cloud-service-broker-aws/).
2. Follow the procedure in [Installing with AWS](installing-with-aws.html.md.erb) to configure the tile.
3. Make all the changes described in this topic that are required for the new version.
4. If you are upgrading to a version later than v1.0, you might need to upgrade service instances.
   Before installing the new version, see
   [Upgrade All Service Instances Config](installing-with-aws.html.md.erb#upgrade-all-config).
