---
title: Amazon RDS for PostgreSQL (Beta)
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

> **Caution:** The Amazon RDS for PostgreSQL service is currently in beta and is intended for
> evaluation and test purposes only. Do not use this service in a production environment.

This topic provides reference information about the Amazon RDS for PostgreSQL (csb-aws-postgres)
service. It details the plans, configuration parameters, and binding credentials.

## <a id="plans"></a> Plans

The default plans and configuration options for Amazon RDS for PostgreSQL are in the following table:

| Plan   | Description                                      |
|--------|--------------------------------------------------|
| small  | PostgreSQL 13.4, 2 vCPUs, 8&nbsp;GB RAM, 5&nbsp;GB storage   |
| medium | PostgreSQL 13.4, 4 vCPUs, 16&nbsp;GB RAM, 10&nbsp;GB storage |
| large  | PostgreSQL 13.4, 8 vCPUs, 32&nbsp;GB RAM, 20&nbsp;GB storage |

## <a id="plans-config"></a> Plan Configuration Parameters

When configuring <%= vars.product_short %> you can add additional plans.
For how to configure plans, see
[Configure Services with Cloud Service Broker for AWS](../installing-with-aws.html.md.erb#services).

The following table lists parameters which can only be configured for additional plans:

| Parameter Name    | Values                                                                              | Default | Required |
|-------------------|-------------------------------------------------------------------------------------|---------|----------|
| `name`            | The plan name                                                                       | _n/a_   | Yes      |
| `id`              | A unique GUID                                                                       | _n/a_   | Yes      |
| `description`     | Description of the new plan                                                         | _n/a_   | Yes      |
| `display_name`    | Name to use when displaying plan in Marketplace                                     | _n/a_   | No       |
| `free`            | When false, service instances of this service plan have a cost                      | true    | No       |
| `bindable`        | Specifies whether service instances of the service plan can bind to applications    | true    | No       |
| `plan_updateable` | Whether the plan supports upgrading, downgrading, or sidegrading to another version | true    | No       |
| `storage_gb`      | This is storage volume size for service instance, which is 5&ndash;4096&nbsp;GB     | 5       | Yes      |

You can also add any of the parameters listed in the [Configuration Parameters](#parameters) section
to your plan.

To create plans with specific size and versions, set `instance_class`, `storage_gb`, and `postgres_version`
properties.

> **Note:** If you set a parameter at plan level, developers cannot change the value when creating
> or updating service instances.

## <a id="parameters"></a> Configuration Parameters

You can provision a service by running:

```console
cf create-service csb-aws-postgres PLAN-NAME SERVICE-INSTANCE-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}
```

You can update the configuration parameters for a service instance by running:

```console
cf update-service SERVICE-INSTANCE-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

The following table lists the parameters that you can configure, by using the -c flag, when provisioning or updating a `csb-aws-postgres` service.
The Operation column displays whether a parameter is supported for both provision and update, or for provision only:

<table class="nice">
  <thead>
    <tr>
      <th width="20%">Parameter Name</th>
      <th width="10%">Type</th>
      <th width="40%">Description</th>
      <th width="20%">Default</th>
      <th width="10%">Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>postgres_version</code></td>
      <td>String</td>
      <td>
        Required - The version for the PostgreSQL instance.
        This can be any supported major version, or major and minor. For example, <code>13</code> or <code>13.4</code>.
      </td>
      <td><code>13.4</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>instance_class</code></td>
      <td>String</td>
      <td>Required - The AWS database instance class.
        For more information about database instance classes, see the
        <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.DBInstanceClass.html">AWS documentation</a>.</td>
      <td><em>db.m6g.large</em></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>instance_name</code></td>
      <td>String</td>
      <td>The name of the AWS instance to create.</td>
      <td><code>csb-mysql-INSTANCE-ID</code></td>
      <td>provision</td>
    </tr>
    <tr>
      <td><code>db_name</code></td>
      <td>String</td>
      <td>Name for the database to create</td>
      <td><code>vsbdb</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>region</code></td>
      <td>String</td>
      <td>
        The AWS region and availability zone (AZ) in which to deploy the service. For more information about available regions,
        see the <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-available-regions">AWS documentation</a>.
      </td>
      <td><code>us-west-2</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>vpc_id</code></td>
      <td>String</td>
      <td>The Virtual Private Cloud (VPC) to connect the instance to.</td>
      <td>The default VPC</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>multi_az</code></td>
      <td>Boolean</td>
      <td>If <code>true</code>, create a Multi-AZ (HA) instance.
      For more information about Multi-AZ deployments, see the
      <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.MultiAZ.html">AWS documentation</a>.</td>
      <td><code>false</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>publicly_accessible</code></td>
      <td>Boolean</td>
      <td>If <code>true</code>, make instance available to public connections.</td>
      <td><code>false</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>allow_major_version_upgrade</code></td>
      <td>Boolean</td>
      <td>Indicates that major version upgrades are allowed.
        Changing this parameter does not result in an outage and the change is
        asynchronously applied as soon as possible.</td>
      <td><code>true</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>auto_minor_version_upgrade</code></td>
      <td>Boolean</td>
      <td>Indicates that minor engine upgrades are applied automatically
        to the database instance during the maintenance window</td>
      <td><code>true</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>maintenance_day</code></td>
      <td>String</td>
      <td>The preferred maintenance day: Sun, Mon, Tue, Wed, Thu, Fri, or Sat</td>
      <td><code>Sun</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>maintenance_start_hour</code></td>
      <td>String</td>
      <td>The preferred maintenance start hour</td>
      <td><code>00</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>maintenance_start_min</code></td>
      <td>String</td>
      <td>The preferred maintenance start minute</td>
      <td><code>00</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>maintenance_end_hour</code></td>
      <td>String</td>
      <td>The preferred maintenance end hour</td>
      <td><code>00</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>maintenance_end_min</code></td>
      <td>String</td>
      <td>The preferred maintenance end minute</td>
      <td><code>00</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>backup_retention_period</code></td>
      <td>Integer</td>
      <td>The number of days for which automatic backups are kept.
        Set the value to 0 to disable automated backups. An outage
        occurs if you change the backup retention period from 0 to
        a nonzero value or the reverse. This applies to both Single-AZ
        and Multi-AZ database instances.</td>
      <td><code>7</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>backup_window</code></td>
      <td>String</td>
      <td>The daily time range in UTC during which automated backups are created,
        For example, <code>09:46-10:16</code>. It must not overlap with the maintenance window.
        See https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_WorkingWithAutomatedBackups.html#USER_WorkingWithAutomatedBackups.BackupWindow</td>
      <td>Uses AWS default for the region</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>delete_automated_backups</code></td>
      <td>Boolean</td>
      <td>Specifies whether to remove automated backups immediately after the database instance is deleted</td>
      <td><code>true</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>copy_tags_to_snapshot</code></td>
      <td>Boolean</td>
      <td>Copy all instance tags to snapshots</td>
      <td><code>true</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>storage_encrypted</code></td>
      <td>Boolean</td>
      <td>If <code>true</code>, database storage is encrypted</td>
      <td><code>false</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>parameter_group_name</code></td>
      <td>String</td>
      <td>
        The PostgreSQL parameter group name for the service instance.
        By default, a parameter group is created for each instance, and used to apply security settings.
        If you set a custom parameter group, it might override other settings, including security settings.
        Do not introduce this property during a service instance update because it causes the update to fail.<br>
        However, you can edit or unset an existing value during a service instance update.
      </td>
      <td><code>""</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>deletion_protection</code></td>
      <td>Boolean</td>
      <td>Whether deletion protection is enabled. The database cannot be deleted when this value is set.</td>
      <td><code>false</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>aws_vpc_id</code></td>
      <td>String</td>
      <td>The Virtual Private Cloud (VPC) to connect the instance to</td>
      <td>The default VPC</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>rds_subnet_group</code></td>
      <td>String</td>
       <td>The name of subnet to attach the database instance to.
         This overrides <code>aws_vpc_id</code>.</td>
      <td>None</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>rds_vpc_security_group_ids</code></td>
      <td>Comma-separated String</td>
      <td>Security group IDs to assign to the database instance.</td>
      <td>None</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>require_ssl</code></td>
      <td>Boolean</td>
      <td>Only allow secure database connections.</td>
      <td>false</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>provider_verify_certificate</code></td>
      <td>Boolean</td>
      <td>Whether to verify the certificate of the database server when creating bindings.</td>
      <td>true</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>storage_autoscale</code></td>
      <td>Boolean</td>
      <td>Enable storage autoscaling up to <code>storage_autoscale_limit_gb</code> if true.</td>
      <td>true</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>storage_autoscale_limit_gb</code></td>
      <td>Integer</td>
      <td>
        Maximum storage size if <code>storage_autoscale</code> is set to true.
        The value must be higher than <code>storage_gb</code>.
      </td>
      <td>0</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>monitoring_interval</code></td>
      <td>Integer</td>
      <td>
        The interval, in seconds, between points when Enhanced Monitoring metrics are collected for the database instance.
        To stop collecting Enhanced Monitoring metrics, enter 0. Valid values: 0, 1, 5, 10, 15, 30, 60.
        A <code>monitoring_role_arn</code> value is required if you enter a <code>monitoring_interval</code> value other than 0.
      </td>
      <td>0</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>monitoring_role_arn</code></td>
      <td>Integer</td>
      <td>
        Enhanced Monitoring requires permission to act on your behalf to send OS metric information to CloudWatch Logs.
        This property represents the ARN for the IAM role that permits RDS to send enhanced monitoring metrics to CloudWatch Logs.
      </td>
      <td>None</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>aws_access_key_id</code></td>
      <td>String</td>
      <td>The AWS Access Key to use for an instance</td>
      <td>The value the operator entered for <strong>AWS Access Key</strong> in <%= vars.ops_manager %></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>aws_secret_access_key</code></td>
      <td>String</td>
      <td>The corresponding secret for the AWS Access Key to use for an instance</td>
      <td>The value the operator entered for <strong>AWS Secret Access Key</strong> in <%= vars.ops_manager %></td>
      <td>provision and update</td>
    </tr>
  </tbody>
</table>

## <a id="binding"></a> Binding

You can bind a service by running:

```console
cf bind-service APP-NAME SERVICE-INSTANCE-NAME --binding-name BINDING-NAME
```

## <a id="binding-creds"></a> Binding Credentials

The format for binding credentials for PostgreSQL is as follows:

```json
{
    "name" : "DATABASE-NAME",
    "hostname" : "DATABASE-SERVER-HOST",
    "port" : "DATABASE-SERVER-PORT",
    "username" : "AUTHENTICATION-USERNAME",
    "password" : "AUTHENTICATION-PASSWORD",
    "uri" : "DATABASE-CONNECTION-URI",
    "use_tls" : true,
    "jdbcUrl" : "JDBC-FORMAT-CONNECTION-URI"
}
```

When a binding or service key is deleted, the underlying PostgreSQL user still exists in the database.
To remove the user completely, use the CLI. For more information, see the
[PostgreSQL documentation](https://www.postgresql.org/docs/current/sql-dropuser.html)
