---
title: Amazon DynamoDB Namespace
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic provides reference information about the [Amazon DynamoDB](https://aws.amazon.com/dynamodb/)
(csb-aws-dynamodb-namespace) service.

## <a id="plans"></a> Plans

The default plan for Amazon DynamoDB provides credentials for managing DynamoDB tables in the default
region set for <%= vars.product_short %>.
Currently the service does not support any additional plans, and there is no additional configuration
available.

## <a id="provisioning"></a> Provisioning

Provision an Amazon DynamoDB table by running:

```console
cf create-service csb-aws-dynamodb PLAN-NAME SERVICE-INSTANCE-NAME
```

For example:

<pre class="terminal">
$ cf create-service csb-aws-dynamodb default my-service
</pre>

## <a id="binding"></a> Binding

Bind a service by running:

```bash
cf bind-service APP-NAME SERVICE-INSTANCE --binding-name BINDING-NAME
```

Configuration parameters are not necessary for creating bindings and service keys.

## <a id="binding-creds"></a> Binding Credentials

The format for binding credentials for DynamoDB is as follows:

```json
{
    "region" : "AWS-REGION",
    "prefix": "DYNAMODB-TABLE-NAME-PREFIX",
    "access_key_id" : "IAM-USER-KEY-ID",
    "secret_access_key" : "IAM-USER-SECRET-KEY"
}
```

The bound application can use an IAM user with the supplied credentials to create, update, or delete
any DynamoDB with names starting with the `DYNAMODB-TABLE-NAME-PREFIX` within the `AWS-REGION` region.

The prefix is of the form `csb-GUID-`, where `GUID` is the globally unique identifier of the service
instance that you can obtain by running:

```console
cf service SERVICE-INSTANCE-NAME --guid
```

To ensure that every service instance has a unique prefix, the prefix cannot be configured.
This prevents access to tables created by any other service instance.

> **Caution** All the tables created in the designated namespace are destroyed when the service
> instance is deleted.
